@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Josefin Sans', cursive;
	color: #7371ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d1117;
}

.logout {
  position: absolute;
  top: -5px !important;
  right: 2%;
  background-color: #22f1bf;
  font-size: 20px;
  font-weight: 600;
  color: #0d1117;
  width: 200px;
  height: 45px;
  transition: 0.25s;
}

.logout:hover {
  background-color: #c95959;
}

.postList {
  display: flex;
  flex-direction: column-reverse;
}

.likeCountIcon {
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.leftSide .likeCountIcon {
  margin-top: -150px;
}

.likeCountIcon label {
  font-size: 27px;
  align-items: center;
  margin-top: 3px;
  margin-right: 5px;
  color: #FFF;
}

.likeIcon {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  align-items: flex-end;
}

.post {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  background-color: #21262d;
  /* border: 1px solid lightgray; */
  /* font-family: Arial, Helvetica, sans-serif; */

  box-shadow: rgba(255, 255, 255, 0.289) 3px 3px 1px 0px;
}
/* 
.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
} */


/* .post .title {
  flex: 20%;
  border-top: 2px solid #0d1117;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #21262d;
  color: #7371ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */


.post .body {
  flex: 40%;
  display: grid;
  margin:0 5px 30px 5px;
  padding-top: 50px;
  padding-left: 30px;
  place-content: start;
  background-color: #21262d;
  color: #fff;
  font-size: 20px;
}

.post .dateTime {
  color: #fff;
  padding-bottom: 20px;
  margin-left: 70%;
}

.post .footer {
  flex: 30%;
  border-bottom: 2px solid #0d1117; 
  
  background-color: #21262d;
  display: grid;
  padding-left: 40px;
  place-content: center start;
  color: #7371ff;
  font-size: 27px;
  font-weight: 700;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: center;
  padding: 15px;
  margin: 70px auto;
  width: 300px;
  height: auto;
  background-color: #21262d;
  border-radius: 5px;
}

.createPostPage h1{
  width: 70%;
    color: #7371ff;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
  }

/* .formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid #1E1B18;
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: #1E1B18;
} */

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 100px;
  background-color: #0d1117;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

#logo {
  height: 100px;
  width: auto;
  margin-right: 50px;
}

.navbar div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 180px;
}

.navbar a {
  margin-left: 50px;
  text-decoration: none;
  font-size: 23px;
  color: #7371ff;
  font-weight: 700;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  margin-top: 90px;
  margin-left: 50px;
}

.leftSide button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  color: #0d1117;
  font-size: medium;
  font-weight: 600;
  background-color: #c95959b9;
  /* margin-left: 400px; */
  /* margin-top: -30px; */
  transition: 0.25s;
}

.postButtons {
  position: relative;
}


/* .leftSide button :hover {
  margin-left: 150px;
  width: 450px;
  z-index: 20;
  background-color: #c95959;
} */

#editPost {
  /* margin-top: -177.5px; */
  /* margin-left: 150px; */
  position: absolute;
  bottom: 20%;
  left: 12%;
  background-color: #22f1bf;
  
}

#editPost:hover {
  width: 450px;
  z-index: 20;
}

#delPost {
  position: absolute;
  bottom: 20%;
  right: 12%;
}

#delPost:hover {
  width: 450px;
  z-index: 20;
  background-color: #c95959;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 85px auto;
  margin-bottom: 0;
	width: 500px;
	height: 100px;
	background-color: #21262d;
	border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.289) 3px 3px 1px 0px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.addCommentContainer button {
  background-color: #22f1bfb9;
  color: #0d1117;
  font-size: medium;
  font-weight: 600;
  margin-top: 20px;
  transition: 0.25s;
}

.addCommentContainer button:hover {
  background-color: #22f1bf;
}

button:hover {
  box-shadow: rgba(255, 255, 255, 0.289) 2px 2px 1px 0px;
  cursor: pointer;
  
}

.addCommentContainer input {
  /* padding: 12px 0 12px 10px; */
			margin: 20px;
      word-wrap: normal;
      height: auto;
			border-radius: 3px;
			border: 2px solid transparent;
      background-color: #0d1117;
      color: #FFFFFF;
			text-align: center;
			width: 90%;
			font-size: 16px;
}

.rightSide .listOfComments {
  /* flex: 80%; */
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 50px;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: rgba(255, 255, 255, 0.289) 3px 3px 1px 0px;
  display: flex;
  background-color: #21262d;
}

.listOfComments .comment .commentInside {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  /* align-items: center; */
  justify-content: center;
  color: #fff;
  background-color: #21262d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #22f1bf; */
}


.listOfComments .comment .commentInside label {
  font-size: smaller;
  font-weight: bold;
  color: royalblue;
  margin-left: 0;
  padding-top: 5px;
}

.listOfComments .comment button {
  margin: 0;
  width: 55px;
  color: #0d1117;
  margin-right: 5px;
  background-color: #c95959b9;
  transition: 0.25s;
}

.listOfComments .comment button:hover {
  width: 115px;
  z-index: 20;
  background-color: #c95959;
}

.listOfComments .comment #editComment {
  background-color: #22f1bf;
}

#individual {
  margin-top: 0;
  height: 300px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
  /* position: relative; */
}
/* 
#individual .body #dateTime {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 15px;
  bottom: 0px;
} */

/* LOGIN */

.loginContainer {
      text-align: center;
      padding: 15px;
      margin: 70px auto;
			width: 300px;
			height: auto;
			background-color: #21262d;
			border-radius: 5px;
      box-shadow: rgba(255, 255, 255, 0.289) 3px 3px 1px 0px;
}

.loginContainer h1{
  width: 70%;
			color: #7371ff;
			font-size: 32px;
			margin: 28px auto;
			margin-bottom: 20px;
			text-align: center;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer input{
  padding: 12px 0;
			margin-bottom: 10px;
			border-radius: 3px;
			border: 2px solid transparent;
      background-color: #0d1117;
      color: #FFFFFF;
			text-align: center;
			width: 90%;
			font-size: 16px;
			/* transition: border .2s, background-color .2s; */
}

.loginContainer button {
  background-color: #22f1bf;
  color: #0d1117;
  font-size: medium;
  font-weight: 600;
  margin-top: 30px;
}


/* Register */

.registerContainer {
  text-align: center;
  padding: 15px;
  margin: 70px auto;
  width: 300px;
  height: auto;
  background-color: #21262d;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.289) 3px 3px 1px 0px;
}

.registerContainer h1{
width: 70%;
  color: #7371ff;
  font-size: 32px;
  margin: 28px auto;
  margin-bottom: 20px;
  text-align: center;
}

#inputCreatePost,
button {
width: 200px;
height: 50px;
border-radius: 8px;
border: none;
margin: 10px;
}

#inputCreatePost{
padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  background-color: #0d1117;
  color: #FFFFFF;
  text-align: center;
  width: 90%;
  font-size: 16px;
  /* transition: border .2s, background-color .2s; */
}

button {
background-color: #22f1bf;
color: #0d1117;
font-size: medium;
font-weight: 600;
margin-top: 30px;
margin-bottom: 50px;
}

.details h1 {
  width: 100%;
	color: #7371ff;
	font-size: 42px;
	margin: 40px auto;
	margin-bottom: 20px;
	text-align: center;
}


/* Newer CSS, I know it's not organized well */

.details h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sep {
  margin: 50px;
}

/* div css */

/* end of div css */